<form method="POST" onsubmit="submitWriteForm(this); return false;"
      style="display: flex; flex-direction: column; gap:20px; max-width:500px;">
    <input type="text" name="title" placeholder="제목">
    <input type="text" name="body" placeholder="내용">
    <!--아래 코드는 아무것도 하지 않는다는 의미-->
    <button type="submit" >
        글쓰기
    </button>
    <input onclick="this.closest('form').setAttribute('action','/article/write2')" type="submit"value="글쓰기">
    <!--가장 가까운 form의 액션의 값을 write2로 바꾼다 -> 작동은 잘 된다.-->

</form>
<script>
    function submitWriteForm(form){
        const inputTitle = form.title,
            inputBody = form.body;
        inputTitle.value = inputTitle.value.trim();
        inputBody.value = inputBody.value.trim();
        const title= inputTitle.value,
            body=  inputBody.value;
        if ( title.length == 0 ) {
            alert('제목을 입력해주세요.');
            inputTitle.focus(); // 해당 칸 깜빡 깜빡
            return;
        }

        if ( body.length == 0 ) {
            alert('내용을 입력해주세요.');
            inputBody.focus();
            return;
        }
    form.submit();
    }
</script>